@mixin content {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #808080;
    text-align: center;
    background: $back-content;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 1px rgb(24, 22, 22);
}

@mixin wrapper {
    width: 50%;
    margin: 0 auto;
}

@mixin input {
    width: 90%;
    margin: 0 auto;
}