@import './partials/_variables';
@import './partials/_mixins';



body {
    height: 100vh;
    background: $main-background;    
}

.app__body {
    @include content;
}

.app__name, .main__content, .total__tip {
   @include wrapper;
}

input {
    @include input;
}

.btn {
    margin-top: 10px;
}